header {
  background-image: url("../../../../assets/imgs/banner.jpg");
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: 100% 100%;
}
img {
  border-radius: 20px;
}
.card {
  border-radius: 20px;
}
