.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgb(147, 207, 247)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgb(147, 207, 247)
  );
}
.mb-md-5 {
  margin-bottom: 0rem !important;
}

.pb-5 {
  padding-bottom: 0rem !important;
}
.mb-5 {
  margin-bottom: 1rem !important;
}
.p-5 {
  padding: 4rem !important;
}
